[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/usr/local/jetson_stats/jetson_performance.sh
Description=Jetson performance is a script to control jetson_clock
After=remote-fs.target
After=all.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/usr/local/jetson_stats/jetson_performance.sh start
ExecStop=/usr/local/jetson_stats/jetson_performance.sh stop

[Install]
WantedBy=multi-user.target
