[Unit]
Description=Setup fan at startup

[Service]
ExecStart=/usr/local/jetson_stats/jetson_stats_boot.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
